@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700&display=swap');

/* -----------------------------------------------UNIVERSAL STYLES START---------------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* -----------------------------------------UNIVERSAL STYLES END--------------------------------------- */

/* -------------------------------------------MAIN SECTION STYLES START --------------------------------- */
/* ------------------------------------------HEADER SECTION STYLES START ------------------------------- */

/* ------------------------------------------HEADER SECTION STYLES END ------------------------------- */

/*------------------------------------------ BANNER SECTION STYLES START --------------------------------*/

/*------------------------------------------ BANNER SECTION STYLES END --------------------------------*/

/*------------------------------------------- COMPANY WITH US STYLES START --------------------------------------*/

/*------------------------------------------- COMPANY WITH US STYLES END --------------------------------------*/

/*--------------------------------------- FEATURED PRODUCTS STYLES SECTION START ------------------------------------*/

/*--------------------------------------- FEATURED PRODUCTS STYLES SECTION END ------------------------------------*/

/*-------------------------------------------- FOOTER SECTION STYLES START  ------------------------------------*/

/*-------------------------------------------- FOOTER SECTION STYLES END  ------------------------------------*/

/* -------------------------------------------MAIN SECTION STYLES END --------------------------------- */


/*---------------------------------------- MOBILE SECTION RESPONSIVE STYLES START -------------------------- */
@media screen and (max-width:576px) {
    /* -------------------------------------------MAIN SECTION STYLES START --------------------------------- */
    /* ------------------------------------------HEADER SECTION STYLES START ------------------------------- */

    /* ------------------------------------------HEADER SECTION STYLES END ------------------------------- */

    /*------------------------------------------ BANNER SECTION STYLES START --------------------------------*/

    /*------------------------------------------ BANNER SECTION STYLES END --------------------------------*/

    /*------------------------------------------- COMPANY WITH US STYLES START --------------------------------------*/

    /*------------------------------------------- COMPANY WITH US STYLES END --------------------------------------*/

    /*--------------------------------------- FEATURED PRODUCTS STYLES SECTION START ------------------------------------*/

    /*--------------------------------------- FEATURED PRODUCTS STYLES SECTION END ------------------------------------*/

    /*-------------------------------------------- FOOTER SECTION STYLES START  ------------------------------------*/

    /*-------------------------------------------- FOOTER SECTION STYLES END  ------------------------------------*/

    /* -------------------------------------------MAIN SECTION STYLES END --------------------------------- */
}

/*---------------------------------------- MOBILE SECTION RESPONSIVE STYLES END -------------------------- */