@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;600;700&display=swap');

/* -----------------------------------------------UNIVERSAL STYLES START---------------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* -----------------------------------------UNIVERSAL STYLES END--------------------------------------- */

/* -------------------------------------------MAIN SECTION STYLES START --------------------------------- */
/* ------------------------------------------HEADER SECTION STYLES START ------------------------------- */


.mobile-nav {
    display: none;
}


.desktop-nav {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    text-align: center;
}

.desktop-nav>ul {
    display: flex;
    justify-content: space-between;
    width: 25%;
    list-style: none;
}

.desktop-nav>ul>li>a {
    text-decoration: none;
}

/* ------------------------------------------HEADER SECTION STYLES END ------------------------------- */

/*------------------------------------------ BANNER SECTION STYLES START --------------------------------*/
.banner {
    display: flex;
    justify-content: space-around;
    padding: 4%;
    align-items: center;
}

.description {
    width: 60%;
}

.banner-description-header {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-description-paragraph {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin: 2% 0%;
}

.banner-description-button {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    background: #E02C6D;
    padding: 1% 2%;
    border: 0;
}

.image {
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/*------------------------------------------ BANNER SECTION STYLES END --------------------------------*/

/*------------------------------------------- COMPANY WITH US STYLES START --------------------------------------*/
.company-logos {
    display: flex;
    padding: 3%;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    background: #FFF;
    margin: auto;
    border: 1px solid gray;
    margin: 3% auto;
    text-align: center;
}

/*------------------------------------------- COMPANY WITH US STYLES END --------------------------------------*/

/*------------------------------------------- COLLECTION SECTION START  ---------------------------------------*/
.collection {
    width: 80%;
    padding: 2%;
    margin: 3% auto;
}

.collection-heading {
    text-align: center;
    padding: 8% 9% 4%;
}

.collection-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
}

.item {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 3%;
    height: 100%;
}

.collection-image {
    width: 100%;
    height: 72%;
}

.collection-image img {
    width: 99%;
    height: 99%;
}

.collection-btn {
    display: block;
}


/*------------------------------------------- COLLECTION SECTION END  -----------------------------------------*/
/*--------------------------------------- FEATURED PRODUCTS STYLES SECTION START ------------------------------------*/

/*--------------------------------------- FEATURED PRODUCTS STYLES SECTION END ------------------------------------*/

/*-------------------------------------------- FOOTER SECTION STYLES START  ------------------------------------*/

/*-------------------------------------------- FOOTER SECTION STYLES END  ------------------------------------*/

/* -------------------------------------------MAIN SECTION STYLES END --------------------------------- */








/*---------------------------------------- MOBILE SECTION RESPONSIVE STYLES START -------------------------- */
@media screen and (max-width:576px) {

    /* -------------------------------------------MAIN SECTION STYLES START --------------------------------- */
    /* ------------------------------------------HEADER SECTION STYLES START ------------------------------- */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10%;
        padding: 4%;
    }

    .mobile-nav>h2 {
        display: inline;
    }


    /* ------------------------------------------HEADER SECTION STYLES END ------------------------------- */

    /*------------------------------------------ BANNER SECTION STYLES START --------------------------------*/
    .banner {
        flex-direction: column-reverse;
    }

    .description {
        width: 83%;
    }

    /*------------------------------------------ BANNER SECTION STYLES END --------------------------------*/

    /*------------------------------------------- COMPANY WITH US STYLES START --------------------------------------*/

    .collection-items {
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
    }

    .company-logos {
        flex-wrap: wrap;
        align-items: center;
        padding: 3% 5%;
        width: 73%;
        margin: 5% auto;
    }

    .company-logos img {
        padding: 2%;
    }

    /*------------------------------------------- COMPANY WITH US STYLES END --------------------------------------*/

    /*--------------------------------------- FEATURED PRODUCTS STYLES SECTION START ------------------------------------*/

    /*--------------------------------------- FEATURED PRODUCTS STYLES SECTION END ------------------------------------*/

    /*-------------------------------------------- FOOTER SECTION STYLES START  ------------------------------------*/

    /*-------------------------------------------- FOOTER SECTION STYLES END  ------------------------------------*/

    /* -------------------------------------------MAIN SECTION STYLES END --------------------------------- */
}

/*---------------------------------------- MOBILE SECTION RESPONSIVE STYLES END -------------------------- */